* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

.submenu {
    display: none;
    background-color: #fff;
    border-color: red;
    position: absolute; /* pai */
    left: 0;
    width: 300px;
    top: 100%;
}

.menu > li { /* filho direto */
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative; /* filho  */
}

.clear {
    clear: both;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: red;
}

.submenu li {
    display: block;
    padding: 8px;
}

.conteudo {
    display: grid;
    grid-template-columns: 70% 30%;
}

.noticia img {
    max-width: 100%;
}

.destaque {
    margin-bottom: 56px;
}

.destaque .noticia a {
    display: flex;
    font-size: 2em;
}

.destaque .noticia img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

aside {
    padding-left: 40px;
}

aside .noticia {
    margin-bottom: 24px;
}

.noticias {
    display: grid;
    /* grid-template-columns: 33.3% 33.3% 33.3%; */
    grid-template-columns: repeat(3, 32.6%); 
    /* espaço total: 100% */
    /* (qtde) espaçamento entre 3 elementos: 2 ----> (elemento um) (espaço) (elemento dois) (espaço) (elemento três) */
    /* espaço disponivel: 100 - 2 = 98% */
    /* espaço disponivel dividido pela qtde de elementos = 32,6% */
    column-gap: 1%;
    /* espaçamento disponivel para separar 3 elementos: 2 */
    /* espaçamento entre cada elemento 2 / 2 = 1% */
    row-gap: 5%;
}